@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  font-family: Helvetica, sans-serif;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    background-color: transparent;
    height: 14px;
  }

  .scrollbar::-webkit-scrollbar-button {
    background-color: white;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .scrollbar:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #777777;
    }
  }
}
